<!-- 
Email: <input type="text" [(ngModel)]="email"/>
Password: <input type="text" [(ngModel)]="password"/>
<button (click)="login()">Submit</button>
{{x}} -->
<a routerLink="/signup">Signup</a>|



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h2 class="text-primary">Login Form</h2>
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
        </div>
    </div>
</div>
