<div class="container">
    <div class="row">
        <div class="col-md-12"></div>

            <h2>List Users</h2>
            <table border="1" *ngIf="users" class="table table-dashed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>UserId</th>
                        <th>FirstName</th>
                        <th>Email</th>        
                        <th>Action</th>

                    </tr>

                </thead>

                <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user._id}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <p-button  styleClass="p-button-rounded p-button-primary p-button-sm " (click)="editUser(user._id)" >Edit</p-button>&nbsp; |
                                <p-button  styleClass="p-button-rounded p-button-danger p-button-sm " (click)="deleteUser(user._id)" >Delete</p-button>&nbsp; |
                                <p-button  styleClass="p-button-rounded p-button-secondary p-button-sm " (click)="showDialog(user._id)" >View</p-button>
                                
                            </td>
                        </tr>
                </tbody>
            </table> 
    </div>
 </div>
 
 <p-dialog header="Data Retrived" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' } " [draggable]="false" [resizable]="false" position="top">
     
            <table>
                <tr>
                    <td>Id : </td>
                    <td>{{uId}}</td>
                </tr>
                <tr>
                    <td>Name : </td>
                    <td>{{firstName}}</td>
                </tr>

                <tr>
                    <td>Email : </td>
                    <td>{{email}}</td>
                </tr>

                <tr>
                    <td>Password : </td>
                    <td>{{password}}</td>
                </tr>

            </table>
        
    </p-dialog>
